
<div class="container">
  <div class="row justify-content-center mt-3">

    <div class="col-12 col-md-6 bg-light p-3">
      <label>Enter task name filter:</label>
      <input [(ngModel)]="taskStr" value="task" class="d-block mb-2" />
      <ol>
        <li *ngFor="let task of (todoArray | taskName:taskStr)"
            (click)="onClickTask(task)"
            [innerHtml]="task"></li>
      </ol>
    </div>

    <div class="col-12 col-md-6 bg-info p-3">
      <ol>
        <li *ngFor="let task of doneArray"
            [innerHtml]="task"></li>
      </ol>
    </div>

  </div>
</div>
